.right-section-container{
  width: 45%;
  display: flex;
  flex-direction: column;
}

#right-section-container-header, #right-section-container-header-unit{
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

#right-section-container-header-unit{
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.detail-chart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.state-details-chart-paths > path:hover {
    cursor: pointer;
}

.state-details-chart-paths > path:first-child {
    cursor: default;
}

.state-yearly-chart{
    overflow: visible;
}

.y-label, .x-label {
    font-size: 14px;
}

.charts-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.legend-container {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.legend-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-size: 12px;
}

.legend-list li {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.legend-list div{
  min-width: 18px;
  height: 18px;
  margin-right: 15px;
}

@media screen and (max-width: 1250px){
  .right-section-container{
    width: 85%;
  }
}