.right-section-container{
  /* flex: 0 0 40%; */
  width: 45%;
  display: flex;
  flex-direction: column;
}

#right-section-container-header, #right-section-container-header-unit{
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

#right-section-container-header-unit{
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.state-yearly-chart{
    overflow: visible;
}

.y-label, .x-label {
    font-size: 14px;
}

.charts-container{
  display: flex;
  width: 100%;
}

.legend-container {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.legend-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-size: 12px;
}

.legend-list li {
  margin-top: 14px;
  padding-bottom: 10px
}

.legend-list li:first-child{
  margin-top: 2px;
}

.legend-list li:nth-child(7){
  margin: 0;
  padding: 0;
  padding-top: 6px;
}

.legend-list li:nth-child(8){
  padding: 0;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 16px;
}