body {
    font-family: 'Volkhov', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 5px 0;
}

#hover-tooltip {
    position: absolute;
    background-color: white;
    padding: 4px 10px;
    border: 1.25px solid rgba(120, 120, 120, 1);
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

#nav-bar {
    position: absolute;
    right: 20px;
    font-size: 30px;
}

.fab {
    color: black;
    padding: 4px 6px 4px 7px;
    margin: 5px 5px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: white;
}

.fab:hover{
    box-shadow: 0 0 10px rgba(150, 150, 150, .8);
}

#footer{
    position: absolute;
    bottom: -50px;
    right: 10px;
    font-size: 12px;
}

#footer span {
    margin: 0 5px;
}

#us-data{
    position: absolute;
    top: 75px;
    left: 760px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(200, 200, 200, .4);
    font-family: 'Volkhov', serif;
    box-shadow: none;
    transition: box-shadow 200ms ease-out;
}

#us-data:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(200, 200, 200, 1);
}
