body {
    font-family: 'Volkhov', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

#hover-tooltip {
    position: absolute;
    background-color: white;
    padding: 4px 10px;
    border: 1.25px solid rgba(120, 120, 120, 1);
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}