body {
    font-family: 'Volkhov', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 15px 0;
}

#hover-tooltip {
    position: absolute;
    background-color: white;
    padding: 4px 10px;
    border: 1.25px solid rgba(120, 120, 120, 1);
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

/* TO BE REMOVED: borders on containers for development */
/* .us-map-container{
    border: 0.25px solid black;
} */

/* .main-container {
    border: 0.25px solid black;
} */

/* .detail-chart-container {
    border: 0.25px solid black;
}

.state-details-chart {
    border: 0.25px solid black;
}*/

/* .state-yearly-chart {
    border: 0.25px solid black;
} */