.us-map-container{
    /* flex: 0 0 50%; */
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#us-map-header {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
}

.us-states{
    stroke: #000000;
    stroke-width: 0.25px;
}

.us-state:hover {
    fill: yellow;
    cursor: pointer;
}

#slider-container {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-25%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#year-slider {
    width: 100%;
}

#year-slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

#year-slider:focus {
    outline: none;
}

#year-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #555;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #555;
  box-shadow: 0 0 0px #000000;
  margin-top: -8.5px;
}

#year-slider::-webkit-slider-runnable-track {
    height: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
}

#year-slider:active::-webkit-slider-runnable-track {
    background-color: rgba(190, 190, 190, 1);
}

#slider-current-year {
    position: absolute;
    top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.map-legend-container{
  position: absolute;
  left: 20px;
  bottom: -35px;
  width: 25%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.map-legend-color {
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to right, #eff3ff, #bdd7e7, #6baed6, #2171b5);
  margin: 10px 0;
}

.map-legend-scale {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.map-legend-scale-unit{
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 1250px){
  .us-map-container{
    width: 720px;
    margin-bottom: 150px;
  }

  .map-legend-container{
    bottom: -120px;
  }

  #slider-container {
    bottom: -60px;
  }
}