.us-map-container{
    /* flex: 0 0 50%; */
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#us-map-header {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
}

.us-states{
    stroke: #000000;
    stroke-width: 0.25px;
}

.us-state:hover {
    fill: yellow;
    cursor: pointer;
}

#slider-container {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#year-slider {
    width: 100%;
}

#year-slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

#year-slider:focus {
    outline: none;
}

#year-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #555;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #555;
  box-shadow: 0 0 0px #000000;
  margin-top: -8.5px;
}

#year-slider::-webkit-slider-runnable-track {
    height: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
}

#year-slider:active::-webkit-slider-runnable-track {
    background-color: rgba(190, 190, 190, 1);
}

#slider-current-year {
    position: absolute;
    top: 20px;
    font-size: 20px;
    font-weight: 400;
}